<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between lg:grid lg:grid-cols-4 mx-auto p-4 px-8 gap-4">
    <!-- Root Url Section -->
    <%= link_to root_url, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
      <%= image_tag "favicon.svg", class: "h-8", alt: "BetterLetter Logo" %>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-blue-400 text-blue-500 hover:underline">BetterLetter</span>
    <% end %>
    <!-- User nav section -->

    <div class="lg:justify-self-end flex items-center lg:order-2 space-x-3 lg:space-x-0 rtl:space-x-reverse">
    </div>
    <!-- Nav Links -->
    <div class="lg:col-span-2 items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="navbar-user">
      <ul class="lg:w-full lg:justify-around flex flex-col font-medium p-4 lg:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-white dark:bg-gray-800 lg:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <%= link_to "Home", root_url, class: "block py-2 px-3 text-blue-600 rounded hover:bg-blue-100 lg:hover:underline lg:hover:bg-transparent lg:hover:text-blue-700 lg:p-0 lg:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" %>
        </li>
        <li>
          <%= link_to "About", root_url, class: "block py-2 px-3 text-blue-600 rounded hover:bg-blue-100 lg:hover:underline lg:hover:bg-transparent lg:hover:text-blue-700 lg:p-0 lg:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" %>
        </li>
        <li>
          <%= link_to "Pricing", root_url, class: "block py-2 px-3 text-blue-600 rounded hover:bg-blue-100 lg:hover:underline lg:hover:bg-transparent lg:hover:text-blue-700 lg:p-0 lg:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
