<div class="flex flex-col w-full">

  <section class="py-10">
    <div class="container max-w-screen-xl mx-auto px-4">
      <div class="text-center">
        <div class="flex justify-center mb-16">
            <%= image_tag "favicon", class: "w-36 h-36" %>
        </div>
        <h1 class="font-normal text-gray-900 text-4xl md:text-7xl leading-none mb-8">BetterLetter</h1>
        <p class="font-normal text-gray-600 text-md md:text-xl mb-16">Personalized Job Rejection Letters</p>
      </div>
    </div>
  </section>

  <section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4 ">
      <div class="flex flex-col lg:flex-row justify-between bg-gray-50 p-8 rounded-sm">
        <div class="mb-10 lg:mb-0">
          <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">What We Do</h1>
        <div>
        <div class="text-lg leading-relaxed">
          <p class="mb-4">At <strong class="font-semibold">BetterLetter</strong>, we're dedicated to transforming the job application process by providing constructive feedback to candidates. Here’s how it works:</p>

          <ol class="list-decimal pl-6 mb-6">
            <li class="mb-4"><strong class="font-semibold">Customized Rejection Letters:</strong> Using generative AI and large language models (LLMs), BetterLetter creates personalized rejection letters that offer targeted reasons and actionable advice for why a candidate was not selected.</li>
            <li class="mb-4"><strong class="font-semibold">Improve Future Opportunities:</strong> By providing specific feedback, candidates receive valuable insights on areas for improvement, helping them to better prepare for future job opportunities.</li>
            <li class="mb-4"><strong class="font-semibold">Enhance Company Reputation:</strong> Companies that use BetterLetter demonstrate a commitment to candidate experience, fostering goodwill and a positive perception in the job market.</li>
          </ol>

          <p>Join us in making the job application process more transparent and supportive. With BetterLetter, every rejection is an opportunity for growth and improvement.</p>
        </div>

      </div>
    </div>
  </section>
  
  <section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <div class="bg-gray-50 px-8 py-10 rounded-md">
            <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                <%= image_tag "icons/megaphone.svg", class: "h-8 w-8" %>
            </div>
            <h4 class="font-medium text-gray-700 text-lg mb-4">Empower Your Voice</h4>
            <p class="font-normal text-gray-500 text-md">BetterLetter ensures that every candidate receives a thoughtful and personalized rejection letter, giving them a voice and helping them to understand their strengths and areas for improvement.</p>
        </div>

        <div class="bg-gray-50 px-8 py-10 rounded-md">
            <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                <%= image_tag "icons/magnify.svg", class: "h-8 w-8" %>
            </div>
            <h4 class="font-medium text-gray-700 text-lg mb-4">Transparency and Feedback</h4>
            <p class="font-normal text-gray-500 text-md">Our platform promotes transparency in the hiring process by providing candidates with clear and actionable feedback, enhancing their future job search efforts.</p>
        </div>

        <div class="bg-gray-50 px-8 py-10 rounded-md">
            <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                <%= image_tag "icons/leaf.svg", class: "h-8 w-8" %>
            </div>
            <h4 class="font-medium text-gray-700 text-lg mb-4">Build Better Relationships</h4>
            <p class="font-normal text-gray-500 text-md">By using BetterLetter, companies can build better relationships with their candidates, showing that they value the time and effort put into the application process.</p>
        </div>

      </div>
    </div>
  </section>
  
  <section class="py-10 md:py-16">
  
    <div class="container max-w-screen-xl mx-auto px-4">
  
      <div class="flex flex-col lg:flex-row justify-between">
        <div class="mb-10 lg:mb-0">
          <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">How We Work</h1>

          <p class="font-normal text-gray-500 text-xs md:text-base">Our process in three simple steps:</p>
        </div>

        <div class="space-y-24">
          <div class="flex space-x-6">
            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">01</h1>

            <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

            <div>
                <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">Receive Application</h1>

                <p class="font-normal text-gray-500 text-sm md:text-base">The company receives and reviews job applications from candidates.</p>
            </div>
          </div>

          <div class="flex space-x-6">
            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">02</h1>

            <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

            <div>
                <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">Generate Feedback</h1>

                <p class="font-normal text-gray-500 text-sm md:text-base">Using AI, BetterLetter generates a personalized rejection letter with targeted feedback and actionable advice for the candidate.</p>
            </div>
          </div>

          <div class="flex space-x-6">
            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">03</h1>

            <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

            <div>
                <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">Send Letter</h1>

                <p class="font-normal text-gray-500 text-sm md:text-base">The personalized rejection letter is sent to the candidate, providing them with valuable insights and maintaining a positive relationship with the company.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  
  </section>
  
  <section class="py-10 md:py-16">
  
    <div class="container max-w-screen-xl mx-auto px-4">

      <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Meet the Team</h1>

      <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">Here's to the major contributors to the project</p>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Card for Person -->
        <a href="https://trustpizza.github.io/portfolio/" target="_blank" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="flex flex-col items-center p-10">
              <%= image_tag "axel.jpeg", class: "w-36 h-36 mb-3 rounded-full shadow-lg object-cover", alt: "Axel Olsson" %>
              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Axel Olsson</h5>
              <span class="text-sm text-gray-500 dark:text-gray-400">Software Engineer</span>
          </div>
        </a>
    </div>
  
  </section>
</div>