<div id="<%= dom_id job_posting %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job_posting.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= job_posting.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Responsibilities:</strong>
    <%= job_posting.responsibilities %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Qualifications:</strong>
    <%= job_posting.qualifications %>
  </p>

</div>
